<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708570352507-m09d5sil392vvdn27akp5k80809rsfpt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708570352507-m09d5sil392vvdn27akp5k80809rsfpt</string>
	<key>API_KEY</key>
	<string>AIzaSyDPzPSHpxtbSQO6sSRodSRxyJc-nICtZCI</string>
	<key>GCM_SENDER_ID</key>
	<string>708570352507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appDictionary</string>
	<key>PROJECT_ID</key>
	<string>app-dictionary-d4c26</string>
	<key>STORAGE_BUCKET</key>
	<string>app-dictionary-d4c26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708570352507:ios:33b42edf88f21cf21a4bde</string>
</dict>
</plist>